@use "sass:math";

$margin: 10px;
h3 {
  margin: $margin 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
  line-height: 150%;
}

li {
  margin: #{math.div($margin, 2)} $margin; //add line spacing between tasks
}

a {
  color: #42b983;
}

.overdue {
  color: red;
  font-weight: bold;
}
